@font-face {
    font-family: opensans-condensedbold;
    src: url(//stage.staticmayane.com/paroledemamans/assets/font/opensans-condensedbold/1.11/opensans-condensedbold.eot) format('embedded-opentype'); /* IE9+ compat */
    src:
        url(//stage.staticmayane.com/paroledemamans/assets/font/opensans-condensedbold/1.11/opensans-condensedbold.woff2) format('woff2'), /* Super modern browsers */
        url(//stage.staticmayane.com/paroledemamans/assets/font/opensans-condensedbold/1.11/opensans-condensedbold.woff) format('woff'), /* Modern browsers */
        url(//stage.staticmayane.com/paroledemamans/assets/font/opensans-condensedbold/1.11/opensans-condensedbold.eot?#iefix) format('embedded-opentype') /* IE6-IE8 */
    ;
    font-display: optional;
    font-style: normal;
    font-weight: 400;
}
