/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* Sticky footer styles
-------------------------------------------------- */

.footer {
    width: 100%;
    background-color: #f5f5f5;
}

.navbar-inverse .navbar-header .navbar-brand {
  color: #1b9448;
  padding-top: 15px;
}

.art-headline{
  img{
    max-width: 320px;
  }
}

body {
  color: #5a5a5a;
}

.navbar-inverse .navbar-nav{
  li.active a{
    background: #1b9448;
  }
  &:hover>li.active>a{
    color: #FFFFFF;
  }
  &:hover>li>a,
  &>li>a {
    color: #000000;
  }
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #1b9448;
}

.navbar-inverse .navbar-nav li.active li a{
  background: none;
}

.navbar-inverse .navbar-nav li.active li.active a{
  background: #1b9448;
}


.marketing{
  margin-top: 0;
}

.page-title{
  margin-bottom: 20px;
}

.navbar.navbar-inverse.navbar-static-top{
  background: #FFFFFF;
}

.navbar-inverse .navbar-brand{
  color: #FFF;
}

.navbar-brand{
  padding: 0;
  img{
    height: 50px;
  }
}

p.lead{
  margin-top: 20px;
  font-size: 15px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #0a0a0a;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: #FFFFFF;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.art-header{
  margin-top: 70px;
  h2{
    font-size: 12px;
  }
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
  border-top: 1px solid #1b9448;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image{
  width: 100%;
}

#alimentation li,
#palmares li{
  margin: 10px 0;
  list-style: none;
}

.padding-zero{
  padding: 0;
  ul{
    padding: 0;
  }
}

.width-100{
  width: 100%;
}

.footer{
  padding: 20px;
  li{
    list-style: initial;
    a{
      color: #DB4D14;
    }
  }
}

.fa.fa-star{
  font-size: 20px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {


  .navbar-inverse .navbar-header .navbar-brand {
    display: none;
  }

  .navbar-wrapper .container.container-nav{
    padding: 0 240px;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 10px;
  }
}

.carousel-caption h3{
  text-align: center;
  border-bottom: 1px solid black;
}

.carousel-inner>.item>a>img,.carousel-inner>.item>img{
  width: 100%;
}

.modal-dialog.modal-bigger{
  width: 100%;
}

.img-user{
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  font-size: 50px;
}

.no-margin-top{
  margin-top: 0;
}

.label-primary {
  background-color: #1b9448;
}