<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Élevage du moulin - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ assets_versionning('app.css') }}">
        {% endblock %}
    </head>

    <body cz-shortcut-listen="true">
        <header>
            {% block header %}
            {{ render(controller('App\\Controller\\HeaderController::index')) }}
            {% endblock %}
        </header>
        <div class="clear"></div>
        <div id="off_container">
            <div class="container">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    {% block body %}{% endblock %}
                    <div class="clear"></div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    {% block sidebar %}
                        {{ render(controller('App\\Controller\\SidebarController:index')) }}
                    {% endblock %}
                    <div class="clear"></div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% block footer %}
                        {{ render(controller('App\\Controller\\FooterController::index')) }}
                    {% endblock %}
                </div>
            </div> <!-- /container -->
        </div>
    {% block javascripts %}{% endblock %}
    </body>
</html>
