<div class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('el_welcome') }}"><img src="{{ asset('logo_pdsf.png') }}"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Accueil</a></li>
                    <li><a href="#about">Dressage</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chiots <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Nos races</li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Épagneuls bretons</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Griffons Korthals</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Labradors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Alimentaions et recommendations</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Palmarés</a></li>
                    <li><a href="#contact">Ètalons</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pensions <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Pension pour chiens</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Pension pour chats</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Émissions TV</a></li>
                    <li><a href="#contact">Annonces</a></li>
                    <li><a href="#contact">Prix</a></li>
                    <li><a href="#contact">Avis</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>