{% extends 'base.html.twig' %}

{% block title %}Mentions légales | {{ parent() }}{% endblock %}
{% block description %}Mentions légales de l'élevage du moulin de Leuville pour chiens, chiots, dressage, epagneul breton, griffon khortals, labrador, Seine-et-Marne, 77, Yvelines, 78, Paris, 75, Essonne, 91, Hauts-de-Seine, 92, Val-de-Marne, 94, Seine-Saint-Denis, 93, île-de-france, pension pour chiens, pension pour chats, pension canine, pension féline{% endblock %}
{% block keywords %}mentions légales,chiens, elevage, chiots, dressage, epagneul breton, griffon khortals, labrador, Seine-et-Marne, 77, Yvelines, 78, Paris, 75, Essonne, 91, Hauts-de-Seine, 92, Val-de-Marne, 94, Seine-Saint-Denis, 93, île-de-france, pension chien, pension chat, pension chiens, pension chats, pension canine, pension féline{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('el_welcome')}}">Acuueil</a></li>
    <li class="active">Mentions légales</li>
{% endblock %}

{% block leftContent %}
    <h1 class="text-center">Mentions légales</h1>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-12 text-center">
            <p><b>L' élevage est situé :</b>
            <br/>
            13 Chemin Charbonneau 91630  GUIBEVILLE (Essonnes).
            <br/>
            <br/>
            Si vous venez avec un <b>GPS</b>, vous devez indiquez comme ville :
            <br/>
                <b>CHEPTAINVILLE et la rue Raymond Champdavoine.</b>
            <br/>
            <br/>
            Pour nous rejoindre, cliquez <b><a href="https://www.google.com/maps/place/13+Chemin+Charbonneau,+91630+Guibeville/@48.5597226,2.2800382,17z/data=!3m1!4b1!4m5!3m4!1s0x47e5dae9695f60a5:0xd88351020263e88!8m2!3d48.5597226!4d2.2822269" target="_blank" rel="noopener noreferrer" style="color: #000000;text-decoration: underline;">ICI</a></b>.
            <br/>
            Yuliya MOULIN
            <br/>
            13, Chemin Charbonneau
            <br/>
            91630  GUIBEVILLE
            <br/>

                Tél : <b>01 64 56 17 36 – 06 32 20 32 66</b>
            </p>
        </div>
    </div>
    <hr class="featurette-divider">

{% endblock %}

{% block ldjson %}
<script type="application/ld+json">[{"@context":"http:\/\/schema.org","@type":"Organization","name":"Élevage du moulin de Leuville","url":"https:\/\/www.elevagedumoulin.fr","sameAs":["https:\/\/www.facebook.com\/Élevage-du-moulin-de-Leuville-1671858406233284"]},{"@context":"http:\/\/schema.org","@type":"WebSite","name":"Élevage du moulin de Leuville","url":"https:\/\/www.elevagedumoulin.fr\/mentions-legales"},{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https:\/\/www.elevagedumoulin.fr","name":"Accueil"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.elevagedumoulin.fr\/mentions-legales","name":"Mentions légales"}}]}]
</script>
{% endblock %}